@*@{
    ViewData["Title"] = "SPA";
    }*@

<div class="text-center">
    <div style="margin: 10%;">
        <button class="start-button">START</button>
        <button class="end-button">STOP</button>
    </div>

    <div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>Duration</th>
            </tr>
        </table>
    </div>
</div>